@import "../packages/bootstrap-4.0.0-beta.2/scss/bootstrap.scss";
$main_info_height:1400px;
$main_font: 'Poiret One', cursive;
$main_color_dark: #5a5a5a;
$main_background:#6eb8e8;

@mixin font_header_light {
  font-family: "Poiret One",cursive;
  font-weight: 900;
  font-size: 30px;
  color: #fff;
}

@mixin font_header_dark {
  font-family: "Poiret One",cursive;
  font-weight: 900;
  font-size: 30px;
}

@mixin button {
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin: 15px auto;
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
  a {
    text-decoration: none;
    display: block;
    font-family: $main_font;
    font-size: 15px;
    font-weight: 900;
    color: white;
    background-color: #1a9bdc;
    box-shadow: -4px 11px 40px 0 rgba(0, 1, 1, 0.2);
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    transition-duration: 1s;
    &:hover {
      background-color: #37c3a8;
      cursor: pointer;
      transform: scale(1.1, 1.1);
    }
  }
}






