.main_info {
  max-width: 1170px;
  min-height: $main_info_height;
}

.personal {
  max-width: 350px;
  height: $main_info_height;
  background: $main_background;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 10px 10px 20px 0 rgba(0, 1, 1, 0.2);
}

.photo {
  background: url("../img/my_photo.jpg") no-repeat center;
  background-size: cover;
  width: 320px;
  height: 320px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 20px auto;
}

.main_info__header {
  width: 100%;
  height: 70px;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  margin: auto;
  @include font_header_light;
}

.main_info__item {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 15px auto;
}

.contact {
  .main_info__item {
    &:nth-child(1) {
      background: url("../img/call.png") no-repeat left center;
      background-size: contain;
    }

    &:nth-child(2) {
      background: url("../img/domain.png") no-repeat left center;
      background-size: contain;
    }

    &:nth-child(3) {
      background: url("../img/email.png") no-repeat left center;
      background-size: contain;
    }
  }

  .main_info__item_data {
    padding-left: 80px;
    color: white;
    a {
      color: white;
    }
  }
}

.profile {
  .main_info__item {
    border-bottom: 1px solid white;
  }
}

.main_info__item_left {
  width: 200px;
  float: left;
  font-size: 19px;
  color: white;
}

.main_info__item_right {
  font-size: 19px;
  color: white;
}

.interest {
  .main_info__item {
    color: white;
    i {
      color: inherit;
      margin: 0 20px 0 0;
    }
  }
}

.experience {
  max-width: 750px;
  height: $main_info_height;
  background: #ffffff;
  box-shadow: 10px 10px 20px 0 rgba(0, 1, 1, 0.2);
}

.main_info__header_name {
  font-family: $main_font;
  font-size: 50px;
  font-weight: 700;
  border-bottom: 1px solid $main_color_dark;
  width: 100%;
  text-align: right;
}

.main_info__header_profession {
  font-family: $main_font;
  font-size: 30px;
  font-weight: 400;
}

.main_info__education_item {
  margin: 20px auto;
}

.card-body {
  text-align: center;
}

.main_info__education_years {
  float: left;
  margin: 0 110px;
  font-size: 20px;
}

.main_info__education_header,
.main_info__work_header,
.main_info__skills_header {
  @include font_header_dark;
  margin: 30px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(right, rgba(0, 0, 0, 0) 0%, $main_background 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0) 0%, $main_background 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, $main_background 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr=$main_background, GradientType=0); /* IE6-9 */
  box-shadow: 10px 10px 20px 0 rgba(0, 1, 1, 0.2);
  border-radius: 5px;
}

.main_info__link_resume {
  border: 1px solid;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  text-align: center;
  background: transparent;
  color: $main_color_dark;
  margin: auto;
  a {
    color: $main_color_dark;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
  }
}

.main_info__skills_list {
  display: flex;
  flex-direction: column;
}

.main_info__skills_item {
  width: 400px;
  &:nth-child(n) {
    align-self: flex-start;
  }
  &:nth-child(2n) {
    align-self: flex-end;
  }
}

.fontAwesome {
  font-size: 50px;
}

.icon {
  float: left;
}

.main_info__skills_item {
  height: 50px;
}

.main_info__skills_description {
  line-height: 55px;
  height: inherit;
  padding-left: 80px;
}


