.works {
  margin-top: 50px;
}

.works__header {
  height: 150px;
  background: transparent;
  @include font_header_dark;
  text-align: center;
  line-height: 150px;
}

.works__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.works__item {
  height: 250px;
  width: (100%/5);
  position: relative;
  border: 5px solid transparent;

  &:hover {
    .works__blockHover {
      display: block;
    }
  }
}

.works__blockHover {
  display: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-duration: 3s;
  &:hover {
    display: block;
    transform: scale(1, 1);

  }
}

.works__hoverHead {
  font-family: $main_font;
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 4px;
  line-height: 50px;
  text-align: center;

}
.works__hoverText {
  font-family: $main_font;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  text-align: center;
}
.works__hoverLink {
  text-align: center;
}

.works__link_site {
  @include button;
}

.works__link_git {
  @include button;
}

.block {
  background: url("../../img/lego.svg") no-repeat center;
  background-size: contain;
}

.flex {
  background: url("../../img/spring.svg") no-repeat center;
  background-size: contain;
}

.grid {
  background: url("../../img/menu.svg") no-repeat center;
  background-size: contain;
}

.js {
  background: url("../../img/js.svg") no-repeat center;
  background-size: contain;
}

.shop {
  background: url("../../img/cart (1).svg") no-repeat center;
  background-size: contain;
}

.yii {
  background: url("../../img/yii.png") no-repeat center;
  background-size: contain;
}







